@model Exam_Helper.ViewsModel.TestInfoMissedWords;
@{
    ViewData["Title"] = "View";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>



<main style="height: 85vh;" class="d-flex align-items-center">
    <div>
        @if (Model.IsSuccessed)
        {
            <span>Α α Β β Γ γ Δ δ Ε ε Ζ ζ Η η Θ θ Ι ι Κ κ Λ λ Μ μ Ν ν Ξ ξ Ο ο Π π Ρ ρ Σ σ Τ τ Υ υ Φ φ Χ χ Ψ ψ Ω ω</span>
            <div class="pt-3" style="white-space:pre-wrap; background-color: #f1f1f1;">
                @foreach (var word in Model.Teorem)
                {
                    @Html.Raw(word);
                }
            </div>
            <div class="form-group mt-3 ml-2 mr-2">
                <input type="submit" value="Проверить ответ" class="btn btn-primary" id="CheckAnswers" />
            </div>
        }
        else
        {
        <p>Мы не можем создать данный тест для этого вопроса.</p>
        }
        <a asp-controller="PublicLibrary" asp-action="Index">
            <input type="button" value="Вернуться в библиотеку" class="btn btn-primary" />
        </a>
    </div>
</main>

<script>

       $("#CheckAnswers").click(function CheckAnswers() {
        var ans = [];
        @for(int i = 0; i< Model.Answers.Length; i++)
        {
            @:ans.push("@(new Microsoft.AspNetCore.Html.HtmlString(Model.Answers[i]))");
        }
        $("input.test").each(function (index) {
            console.log($(this).val(), " ", ans[index]);
            if ($(this).val() === ans[index]) {
                $(this).removeClass("wrong");
                $(this).addClass("right");
            }
            else {
                $(this).removeClass("right");
                $(this).addClass("wrong");
            }
        });
       });

</script>

<style>

    .right {
        border-color: green;
    }

    .wrong {
        border-color: red;
    }

    .editablesection {
        background-color: #ffffff;
        display: inline-block;
        border: none;
        padding: 0;
        outline-offset: 0;
        height: 1.2em;
        font: inherit;
        margin: 0;
        box-sizing: inherit;
    }
</style>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}