
@{
    ViewData["Title"] = "UserStats";
}

<h1>Здесь могла бы быть ваша статистика</h1>

<a asp-controller="PackTest" asp-action="Index">
    <input type="button" value="Вернуться к выбору метода тестирования" class="btn btn-primary" />
</a>
