@{
    ViewData["Title"] = "Сбросить пароль";
}

<br />
<h2>@ViewData["Title"]</h2>
<br />
<p>
    Для сброса пароля перейдите по ссылке в письме,<b> отправленном на Ваш email</b>.
</p>
<form asp-controller="UserAccount" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <hr />
    Введите полученный новый пароль.
    <br />
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" />
            <span class="text-danger"></span>
        </div>
    </div>

    <br />
    Подтвердите новый пароль.
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input class="form-control" />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Отправить">
        </div>
    </div>
</form>
