@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<main style="height: 65vh;" class="d-flex align-items-center justify-content-center">
    <form asp-controller="UserAccount" asp-action="ForgotPassword" method="post" class="form-horizontal p-2">
        <h2>@ViewData["Title"]</h2>
        <h4>Введите email.</h4>
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class=" control-label"></label>
            <div>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Отправить">
            </div>
        </div>
    </form>
</main>
<style>
.form-horizontal{
    max-width: 800px;
    min-width: 350px;
}
</style>
