/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
    #first_icon {
        content: url("../user-black-close-up-shape_icon.png");
    }

    #second_icon {
        content: url("../book_dictionary_icon.png");
    }

    .main_page span {
        font-size: 15px;
    }

    .tags {
        width: 50%;
        height: 50%;
    }
    html {
        font-size: 13px;
    }
    #qTitle, .titleText {
        font-size: 20px;
    }
    .cardText{
        font-size: 15px;
    }
    .titleText {
        white-space: normal;
    }
    .card-check{
        width: 10px;
    }
    h1{
        font-size: 17px;
    }
    .log{
        margin-top: 5px;
        margin-left: 15px;
    }
    #stList{
        margin-left: 0;
        flex-direction: column;
    }
    .badge{
        margin-left: 0;
        display: inline-block;
        margin-top: 15px;
    }
    .stat-per{
        font-size: 13px;
    }
    /*.q-main{*/
    /*    width: 50%;*/
    /*}*/
    /*.q-main textarea, input{*/
    /*    width: 50%;*/
    /*}*/
    
}
@media screen and (max-height: 550px){
    #first_icon {
        content: url("../user-black-close-up-shape_icon.png");
    }

    #second_icon {
        content: url("../book_dictionary_icon.png");
    }

    .main_page span {
        font-size: 15px;
    }

    .tags {
        width: 50%;
    }
    html {
        font-size: 13px;
    }
    #qTitle, .titleText {
        font-size: 20px;
    }
    .cardText{
        font-size: 15px;
    }
    .titleText {
        white-space: normal;
    }
    .card-check{
        width: 10px;
    }
    h1{
        font-size: 17px;
    }
    .log{
        margin-top: 5px;
        margin-left: 15px;
    }
    
}

@media screen and (max-width: 350px) {
    .test-page{
        margin-top: 10vh;
    }
    .stat-per{
        font-size: 10px;
    }
}
@media (min-width: 768px) {

    #first_icon {
        content: url("../user-black-close-up-shape_icon.png");
    }

    #second_icon {
        content: url("../book_dictionary_icon.png");
    }

    html {
    font-size: 16px;
    }
    
    .titleText {
        white-space: nowrap ;
    }
    .card-check{
        width: 20px;
    }
    
}



/*@media screen and (max-width: 1200px) {
    .button-group {
        display: flex;
        flex-direction: column;
    }
}*/
.pack-a{
    color: black;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#logout, #registration, #login {
    color:black;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.actionButton .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.tooltip {
    display: none;
    background: #17a2b8;
    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
    margin-top: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s ease;
}

.change-color{
    width: 25px;
    height: 25px;
}
.change-color-black {
    background-color: black;
}
.change-color-blue {
    background-color: blue;
}
.change-color-green {
    background-color: green;
}
.change-color-info {
    background-color: #17a2b8;
}
.change-color-orange {
    background-color: orange;
}
.change-color-pink {
    background-color: pink;
}
.change-color-purple {
    background-color: purple;
}
.change-color-red {
    background-color: red;
}
.change-color-yellow {
    background-color: yellow;
}
.card{
    border: 2px solid #17a2b8;
}
.accordion > .card:first-of-type{
    border: 2px solid #17a2b8;
}
