/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {

    #first_icon {
        content: url("../user-black-close-up-shape_icon.png");
    }

    #second_icon {
        content: url("../book_dictionary_icon.png");
    }


  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.tags {
    width: 25%;
}
.titleText {
    max-width: 75ch;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.actionButton .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}



@media screen and (max-width: 650px) {
    #first_icon {
        content: url("https://icon-icons.com/icons2/621/PNG/128/user-black-close-up-shape_icon-icons.com_56876.png");
    }

    #second_icon {
        content: url("https://icon-icons.com/icons2/809/PNG/128/book_dictionary_icon-icons.com_66121.png");
    }

    .main_page span {
        font-size: 15px;
    }

    .tags {
        width: 50%;
    }
}
