@model Exam_Helper.Pack

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Пак</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QuestionSet" class="control-label"></label>
                <input asp-for="QuestionSet" class="form-control" />
                <span asp-validation-for="QuestionSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagsId" class="control-label"></label>
                <input asp-for="TagsId" class="form-control" />
                <span asp-validation-for="TagsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
