@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переход на <strong>разработку</strong> среда отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена для развёрнутых приложений.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите <strong>разработку</strong> среды, установив <strong>ASPNETCORE_ENVIRONMENT</strong> среда для <strong>разработки</strong>
    и перезапустите приложение.
</p>
