@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exam Helper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="text-decoration: none;"> ExamHelper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-tabs mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Домашняя страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserLibrary" asp-action="Index">Моя библиотека</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PublicLibrary" asp-action="Index">Библиотека</a>
                        </li>

                    </ul>
                    <div class="log">
                        @{
                            if (!_signInManager.IsSignedIn(User))
                            {
                                <a class="mr-2" id="registration" asp-controller="UserAccount" asp-action="Registration" method="get">Регистрация</a>
                                <a class="mr-2" id="login" asp-controller="UserAccount" asp-action="Login" method="get">Вход</a>
                            }
                            else
                            {
                                <span class="mr-2"><strong>@_userManager.GetUserName(User)</strong></span>
                                <a class="mr-2" id="logout" asp-controller="UserAccount" asp-action="Logout"><img src="~/Logout-icon.png" /></a>
                            }
                        }
                    </div>
                    <div class="btn-group pt-1">
                        <button type="button" class="btn dropdown-toggle align-items-center" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Настройки дизайна <img src="~/gear.png" />
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton">
                            <li>
                                <div class="row justify-content-center">
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-black"></div>
                                    </button>
                                    <button class="btn  col-3" type="button" id="blue">
                                        <div class="change-color change-color-blue"></div>
                                    </button>
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-red"></div>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="row justify-content-center">
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-yellow"></div>
                                    </button>
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-pink"></div>
                                    </button>
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-purple"></div>
                                    </button>
                                </div>
                            </li>
                            <li>
                                <div class="row justify-content-center">
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-green"></div>
                                    </button>
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-orange"></div>
                                    </button>
                                    <button class="btn  col-3" type="button">
                                        <div class="change-color change-color-info"></div>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>

    </header>

    <style>

        .side-bar {
            position: fixed;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

            .side-bar a {
                display: grid;
                text-align: center;
                padding: 16px;
                transition: all 0.3s ease;
                color: white;
                font-size: 20px;
            }

                .side-bar a:hover {
                    background-color: #000;
                }

        .sidebar {
            background: #3B5998;
            color: white;
        }

            .sidebar-content {
                display: none;
            }


        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: bisque;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 3px 4px;
                transition: 0.3s;
                font-size: 17px;
            }

                .tab button:hover {
                    background-color: #ddd;
                }

                .tab button.active {
                    background-color: #ccc;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            background-color: aliceblue;
        }
    </style>

    <div class="side-bar">
        <div class="sidebar-content">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Latin')">Latin</button>
                <button class="tablinks" onclick="openTab(event, 'Math')">Math</button>
            </div>
            <div id="Latin" class="tabcontent">
                <caption>Латынь</caption>
                <table border="1">

                    <tr><td>Α</td><td>α</td><td>Β</td><td>β</td><td>Γ</td><td>γ</td></tr>
                    <tr><td>Δ</td><td>δ</td><td>Ε</td><td>ε</td><td>Ζ</td><td>ζ</td></tr>
                    <tr><td>Η</td><td>η</td><td>Θ</td><td>θ</td><td>Ι</td><td>ι</td></tr>
                    <tr><td>Κ</td><td>κ</td><td>Λ</td><td>λ</td><td>Μ</td><td>μ</td></tr>
                    <tr><td>Ν</td><td>ν</td><td>Ξ</td><td>ξ</td><td>Ο</td><td>ο</td></tr>
                    <tr><td>Π</td><td>π</td><td>Ρ</td><td>ρ</td><td>Σ</td><td>σ</td></tr>
                    <tr><td>Τ</td><td>τ</td><td>Υ</td><td>υ</td><td>Φ</td><td>φ</td></tr>
                    <tr><td>Χ</td><td>χ</td><td>Ψ</td><td>ψ</td><td>Ω</td><td>ω</td></tr>
                </table>
            </div>

            <div id="Math" class="tabcontent">
                <caption>Мат. знаки</caption>
                <table border="1">

                    <tr><td>∧</td><td>∨</td><td>¬</td><td>→</td><td>∀</td><td>∃</td></tr>
                    <tr><td>≤</td><td>≥</td><td>∈</td><td>∉</td><td>∑</td><td>∏</td></tr>
                    <tr><td>⊆</td><td>⊂</td><td>⊊</td><td>⊇</td><td>⊃</td><td>⊋</td></tr>
                    <tr><td>∪</td><td>⋂</td></tr>
                </table>
            </div>
        </div>
        <a class="sidebar" onclick="toggleSymbols()"></a>
    </div>

    <script>
        function toggleSymbols() {
            $(".side-bar div.sidebar-content").toggle();
        }

        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    @RenderBody()

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>