@model List<Exam_Helper.ViewsModel.Libs.ClassForSelectedComfirmed>

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" style="color:darkred">Вы точно хотите добавить?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>

    <hr />
    <div class="modal-body">
        <dl class="row">
            <dt class="col-sm-10">
                Список паков:
            </dt>
            @for (int i = 0; i < Model.Count; i++)
            {
                <dd class="col-sm-10">
                    <label>@Model[i].Title</label>
                </dd>
            }

        </dl>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="d-flex">
                <button type="button" class="btn btn-danger" onclick="PAddSelectedComfirm()" data-dismiss="modal">Добавить</button>|
                <button type="button" class="btn btn-light" data-dismiss="modal">Вернуться в библиотеку</button>
            </div>

        </div>
    </div>

</div>
<script>
    function PAddSelectedComfirm() {
        var _ids = [];
        @foreach(var item in Model)
        {
            @:_ids.push(@(item.Id));
        }

        $.ajax({
        type: "POST",
            url: '@(Url.ActionLink("PAddSelectedComfirmed", "PublicLibrary"))',
            data: { ids: _ids }
        }).done(function (dqs) {

            //$('div[class="accordion"][id="accordionExample"][data-type="question"]').filter(function () {
            //    return dqs.includes(this.dataset.id.toString());
            //}).remove();

            CreateAlert("Добавлено.", "info");

        })
    };
</script>
