@{
    ViewData["Title"] = "Home Page";
}
<style>
    .lazyBack{
        text-decoration:none;
        color:white;
    }

    .lazyBack:hover{
        text-decoration: none;
        color: white;
    }

    </style>
<main class="d-flex flex-column main_page">
    <div class="container mt-3 mb-3">
        <div class="container text-center mt-3 mb-5">
            <span class="h2"> Welcome to ExamHelper</span>
        </div>
        <div class="container text-center mt-5 ">
            <span class="h4">
                Нужна помощь в подготовке к экзамену?
                Данный проект предназначен именно для этого, здесь ты найдешь множество вариантов подготовки и обязательно сдашь на отлично
            </span>
        </div>
    </div>
    <div class="container mt-3 border border-dark block" style="border-radius:15pt;">
        <div class="row">
            <div class="col d-flex flex-column text-center justify-content-center align-items-center  pt-2 pb-2">
                <span class="h4">Создай свой личный кабинет, в котором будут все необходимые материалы</span>
                <button type="button" class="btn btn-dark mt-2 pb-2"><a class="lazyBack" asp-controller="UserAccount" asp-action="Login">Вход</a></button>
            </div>
            <div class="col d-flex justify-content-center align-items-center pt-2 pb-2">
                <img id="first_icon" src="https://icon-icons.com/icons2/621/PNG/256/user-black-close-up-shape_icon-icons.com_56876.png" />
            </div>
        </div>
    </div>

    <div class="container mt-5 border border-dark block" style="border-radius:15pt;">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center pt-2 pb-2">
                <img id="second_icon" src="https://icon-icons.com/icons2/809/PNG/256/book_dictionary_icon-icons.com_66121.png" />
            </div>

            <div class="col d-flex flex-column text-center justify-content-center align-items-center  pt-2 pb-2">
                <span class="h4">Пользуйся всеми вариантами тестирования, это поможет тебе на экзамене</span>
                <button type="button" class="btn btn-dark mt-2"><a class="lazyBack" asp-controller="UserAccount" asp-action="Registration">Начнём</a></button>
            </div>
        </div>
    </div>

</main>