<h1>Методы тестирования/заучивания : </h1>
<p><a asp-controller = "Tests" asp-action="NamesAndDescriptionTest">сопоставить название и определение(Тест)</a></p>
<p><a asp-action="InWork">сопоставить название и док-во(Тест)</a></p>
<p><a asp-action="InWork"></a>Методы тестирования/заучивания </p>