<h1>Методы тестирования/заучивания : </h1>
 <a asp-action="InWork">сопоставить название и определение(Тест)</a>
 <a asp-action="InWork">сопоставить название и док-во(Тест)</a>
 <a asp-action="InWork">...</a>
 